<%- include('includes/head.ejs')  %> <!-- include adds the path to the folder you want to import, minus sign is used to include actual html into the code as opposed to an equal sign which will render is as text--> 
</head>

<body>
    <%- include('includes/navigation.ejs') %>
    <h1>Page Not Found!</h1>
<%- include('includes/end.ejs') %>